#define ACCTABLE						300
#define ACC_FILE_OPEN_COMPRESS			301
#define ACC_FILE_OPEN_DECOMPRESS		302
#define ACC_FILE_EXIT					303
#define ACC_HELP_ABOUT					304
#define ACC_TEXT						305
#define ACC_BTN_COMPRESS				306
#define ACC_BTN_DECOMPRESS				307
#define ACC_BTN_EXIT					308
#define ACC_BTN_PASTE					309
#define ACC_BTN_COPY					310
#define ACC_BTN_LOAD					311
#define ACC_BTN_SAVE					312
ACCTABLE ACCELERATORS DISCARDABLE
BEGIN
  67,ACC_FILE_OPEN_COMPRESS,VIRTKEY,NOINVERT,CONTROL
  68,ACC_FILE_OPEN_DECOMPRESS,VIRTKEY,NOINVERT,CONTROL
  115,ACC_FILE_EXIT,VIRTKEY,NOINVERT,ALT
  112,ACC_HELP_ABOUT,VIRTKEY,NOINVERT
  84,ACC_TEXT,VIRTKEY,NOINVERT,CONTROL
  67,ACC_BTN_COMPRESS,VIRTKEY,NOINVERT,ALT
  68,ACC_BTN_DECOMPRESS,VIRTKEY,NOINVERT,ALT
  88,ACC_BTN_EXIT,VIRTKEY,NOINVERT,ALT
  80,ACC_BTN_PASTE,VIRTKEY,NOINVERT,ALT
  67,ACC_BTN_COPY,VIRTKEY,NOINVERT,ALT
  76,ACC_BTN_LOAD,VIRTKEY,NOINVERT,ALT
  83,ACC_BTN_SAVE,VIRTKEY,NOINVERT,ALT
END
