#define ACCTABLE						300
#define ACC_FILE_OPEN_COMPRESS			301
#define ACC_FILE_OPEN_DECOMPRESS		302
#define ACC_FILE_EXIT					303
#define ACC_HELP_ABOUT					304
ACCTABLE ACCELERATORS DISCARDABLE
BEGIN
  67,ACC_FILE_OPEN_COMPRESS,VIRTKEY,NOINVERT,CONTROL
  68,ACC_FILE_OPEN_DECOMPRESS,VIRTKEY,NOINVERT,CONTROL
  115,ACC_FILE_EXIT,VIRTKEY,NOINVERT,ALT
  112,ACC_HELP_ABOUT,VIRTKEY,NOINVERT
END
