#define IDM_FILE_OPEN_COMPRESS 10001
#define IDM_FILE_OPEN_DECOMPRESS 10002
#define IDM_SEP 10005
#define IDM_FILE_EXIT 10004
#define IDM_HELP_ABOUT 10101
10000 MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Compress File...\tCtrl+C",IDM_FILE_OPEN_COMPRESS
    MENUITEM "&Decompress File...\tCtrl+D",IDM_FILE_OPEN_DECOMPRESS
    MENUITEM "",IDM_SEP,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About\tF1",IDM_HELP_ABOUT
  END
END
