#define TIP_XPRESS						2002
#define TIP_HUFF						2003
#define TIP_MSZIP						2004
#define TIP_LZMS						2005
#define TIP_COMPRESS					2006
#define TIP_DECOMPRESS					2007
#define TIP_EXIT						2008
#define TIP_ASM							2010
#define TIP_ABOUT						2012
STRINGTABLE DISCARDABLE
BEGIN
  TIP_XPRESS				"Microsoft Xpress Compression Algorithm (MS-XCA), more commonly known as LZXpress, implements the LZ77 algorithm."
  TIP_HUFF					"The Huffman variant of the Microsoft Xpress Compression Algorithm (MS-XCA) uses LZ77-style dictionary compression combined with Huffman coding. Designed for fast compression and decompression with a small dictionary size."
  TIP_MSZIP					"MSZIP uses a combination of LZ77 and Huffman coding. It has only minor variations from Phil Katz's 'deflate' method. MSZIP uses only the three basic modes of deflate: stored, fixed Huffman tree, and dynamic Huffman tree."
  TIP_LZMS					"LZMS is an LZ77-based algorithm achieving a high compression ratio by relying on a large LZ77 dictionary size and Huffman coding in addition to more concise arithmetic coding."
  TIP_COMPRESS				"Compress a file using the selected compression algorithm and outputs it with a new file extension based on that (.xprs, .huff, .mszp or .lzms)"
  TIP_DECOMPRESS			"Decompres a file if it was previously compressed by this utility and the compressed file has a recognizable header signature found at the start of the file which corresponds to one of the four listed compression algorithms."
  TIP_EXIT					"Exit this application."
  TIP_ASM					"Creates a masm assembler compatible file and outputs the compressed file's data bytes as hex data 'DB' bytes."
  TIP_ABOUT					"About this application and demonstration of using a LZMS compressed bitmap stored as masm data bytes."
END
