#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "CD.xml"
100						ICON      DISCARDABLE "Images/CD-8bit.ico"
101						BITMAP    DISCARDABLE "Images/Compress_Button.bmp"
102						BITMAP    DISCARDABLE "Images/Decompress_Button.bmp"
103						BITMAP    DISCARDABLE "Images/Exit_Button.bmp"
104						BITMAP    DISCARDABLE "Images/About_Button.bmp"
111						BITMAP    DISCARDABLE "Images/Compress_Menu.bmp"
112						BITMAP    DISCARDABLE "Images/Decompress_Menu.bmp"
113						BITMAP    DISCARDABLE "Images/Exit_Menu.bmp"
114						BITMAP    DISCARDABLE "Images/About_Menu.bmp"
121						RCDATA    DISCARDABLE "Images/Compress_Button.bmp.lzms"
122						RCDATA    DISCARDABLE "Images/Decompress_Button.bmp.lzms"
123						RCDATA    DISCARDABLE "Images/Exit_Button.bmp.lzms"
124						RCDATA    DISCARDABLE "Images/About_Button.bmp.lzms"
131						RCDATA    DISCARDABLE "Images/Compress_Menu.bmp.lzms"
132						RCDATA    DISCARDABLE "Images/Decompress_Menu.bmp.lzms"
133						RCDATA    DISCARDABLE "Images/Exit_Menu.bmp.lzms"
134						RCDATA    DISCARDABLE "Images/About_Menu.bmp.lzms"
