#define IDD_TEXTDLG 2000
#define IDC_BTN_CLOSE 2021
#define IDC_EDT_DATA_OUTPUT 2018
#define IDC_EDT_TEXT_INPUT 2013
#define IDC_BTN_CLEAR_TEXT 2016
#define IDC_BTN_COPY_OUTPUT 2019
#define IDC_BTN_PASTE_TEXT 2014
#define IDC_STC_COMPRESS_ALGO 2005
#define IDC_SHP4 2006
#define IDC_RBN_TXT_XPRESS 2007
#define IDC_RBN_TXT_HUFF 2008
#define IDC_RBN_TXT_MSZIP 2009
#define IDC_RBN_TXT_LZMS 2010
#define IDC_STC_TEXT_PROMPT 2012
#define IDC_STC_PROMPT_OUTPUT 2017
#define IDC_BTN_LOAD_TEXT 2015
#define IDC_BTN_SAVE_OUTPUT 2020
#define IDC_RBN_TXT_NONE 2011
IDD_TEXTDLG DIALOGEX 5,4,348,278
CAPTION "CD x64 - Compress Text To Masm Style Data Bytes"
FONT 10,"Segoe UI",400,0
STYLE 0x16CA0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "Select the algorithm to use for compressing the text:",IDC_STC_COMPRESS_ALGO,"Static",0x50000000,8,9,283,9,0x00000000
  CONTROL "",IDC_SHP4,"Static",0x50000008,8,21,332,80,0x00000020
  CONTROL "XPRESS (Med Compression Ratio | High Decompression Speed | Low Mem Req)",IDC_RBN_TXT_XPRESS,"Button",0x50010004,14,28,320,9,0x00000000
  CONTROL "HUFFMAN (Med Compression Ratio | Med-High Decompression Speed | Low Mem Req)",IDC_RBN_TXT_HUFF,"Button",0x50010004,14,42,320,9,0x00000000
  CONTROL "MSZIP (Med-High Compression Ratio | High Decompression Speed | Med Mem Req)",IDC_RBN_TXT_MSZIP,"Button",0x50010004,14,56,320,9,0x00000000
  CONTROL "LZMS (High Compression Ratio | High Decompression Speed | Med-High Mem Req)",IDC_RBN_TXT_LZMS,"Button",0x50010004,14,70,320,9,0x00000000
  CONTROL "NONE (No compression and convert the input to masm style data bytes)",IDC_RBN_TXT_NONE,"Button",0x50010004,14,84,320,9,0x00000000
  CONTROL "Input or paste the text to compress:",IDC_STC_TEXT_PROMPT,"Static",0x50000000,8,108,329,9,0x00000000
  CONTROL "",IDC_EDT_TEXT_INPUT,"Edit",0x50311104,8,120,246,66,0x00000200
  CONTROL "Output as masm style data bytes:",IDC_STC_PROMPT_OUTPUT,"Static",0x50000000,8,192,329,9,0x00000000
  CONTROL "",IDC_EDT_DATA_OUTPUT,"Edit",0x50311104,8,204,246,66,0x00000200
  CONTROL "&Paste Text",IDC_BTN_PASTE_TEXT,"Button",0x50010120,262,120,77,19,0x00000000
  CONTROL "&Load Text",IDC_BTN_LOAD_TEXT,"Button",0x50010120,262,143,77,19,0x00000000
  CONTROL "Clear Text",IDC_BTN_CLEAR_TEXT,"Button",0x50010120,262,167,77,19,0x00000000
  CONTROL "&Copy Output",IDC_BTN_COPY_OUTPUT,"Button",0x50010120,262,204,77,19,0x00000000
  CONTROL "&Save Output",IDC_BTN_SAVE_OUTPUT,"Button",0x50010120,262,228,77,19,0x00000000
  CONTROL "Close",IDC_BTN_CLOSE,"Button",0x50010120,262,251,77,19,0x00000000
END
